@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-cols_1_2_4 {
  grid-template-columns: 1fr 3fr 12fr;
}

.bg-underlay-1 {
  background: linear-gradient(180deg, #5136f5 0%, #547bf5 100%);
}

.glow-1{
  box-shadow: 0 0 10px #25FFFF;
}